stages:
  - deploy

include:
  - local: '/templates/deploy_tpl.yml'

master:deploy:
  stage: deploy
  image: docker:dind
  variables:
    SSH_URL: ${DEPLOY_SSH_USER}@${DEPLOY_SSH_HOST}
    SSH_PRIVATE_KEY: ${DEPLOY_PRIVATE_KEY}
    SSH_PORT: ${DEPLOY_SSH_PORT}
    DEPLOY_DIR: /tmp/${CI_COMMIT_SHORT_SHA}/
    DB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
  extends:
    - .deploy_tpl
  when: manual
  only:
    - main
##
testing:deploy:
  stage: deploy
  image: docker:dind
  variables:
    SSH_URL: ${DEPLOY_SSH_USER}@${DEPLOY_SSH_HOST}
    SSH_PRIVATE_KEY: ${DEPLOY_PRIVATE_KEY}
    SSH_PORT: ${DEPLOY_SSH_PORT}
    DEPLOY_DIR: /tmp/${CI_COMMIT_SHORT_SHA}/
    MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
    PROJECT_DOMAIN: ${PROJECT_DOMAIN}
    PROJECT_NAME: AppDB
    PROJECT_DOMAIN: db-admin.it.scancity.ru
    PMA_HOST: mysql-${CI_COMMIT_REF_NAME}_mariadb

  extends:
    - .deploy_tpl
  when: manual
  only:
    - testing
